<div class="container">
  <div class="footer-column copy">
    <section class="copy">
      &copy; <span id="date">{{ site.time | date: '%Y' }}</span>&nbsp;Davide Fantuzzi
      &nbsp;-&nbsp;Website code available&nbsp;<a
        href="https://github.com/utnaf/dfantuzzi.info"
        data-log="link|site_repo"
        >here</a
      >
      <i class="fab inline-icon fa-github"></i>
    </section>
  </div>
</div>
