<footer class="footer">
    <div class="container flex">
        <div class="footer-column">
            <ul class="simple-list">
                <li class="simple-list-item">
                    <a
                        href="https://twitter.com/utnaf"
                        class="simple-list-item-text"
                        target="_blank"
                        title="Twitter"
                        data-log="social|twitter"
                        ><i class="fab fa-twitter simple-list-item-icon"></i
                    ></a>
                </li>
                <li class="simple-list-item">
                    <a
                        href="https://github.com/utnaf"
                        class="simple-list-item-text"
                        target="_blank"
                        data-log="social|github"
                        title="Github"
                        ><i class="fab fa-github-alt simple-list-item-icon"></i
                    ></a>
                </li>
                <li class="simple-list-item">
                    <a
                        href="https://www.linkedin.com/in/davidefantuzzi/"
                        class="simple-list-item-text"
                        target="_blank"
                        data-log="social|linkedin"
                        title="LinkedIn"
                        ><i class="fab fa-linkedin simple-list-item-icon"></i
                    ></a>
                </li>
                <li class="simple-list-item">
                    <a
                        href="https://codepen.io/utnaf/"
                        class="simple-list-item-text"
                        target="_blank"
                        data-log="social|codepen"
                        title="CodePen"
                        ><i class="fab fa-codepen simple-list-item-icon"></i
                    ></a>
                </li>
                <li class="simple-list-item">
                    <a
                        href="https://www.instagram.com/utnaf/"
                        class="simple-list-item-text"
                        target="_blank"
                        data-log="social|instagram"
                        title="Instagram"
                        ><i class="fab fa-instagram simple-list-item-icon"></i
                    ></a>
                </li>
            </ul>
        </div>
        <div class="footer-column copy">
            <section class="copy">
                &copy; <span id="date">2020</span>&nbsp;Davide Fantuzzi
                &nbsp;-&nbsp;Website code available&nbsp;<a
                    href="https://github.com/utnaf/dfantuzzi.info"
                    data-log="link|site_repo"
                    >here</a
                >
                <i class="fab inline-icon fa-github"></i>
            </section>
        </div>
    </div>
</footer>
{% include scripts.html %}
