<header class="header square-bg">
    <div class="container flex">
        <h1 class="title">
            {{ site.title }}
        </h1>

        <a
            href="http://explosm.net/comics/3709/"
            class="profile-picture"
            title="Click Me!"
            data-log="link|explosm"
        >
            <img
                src="assets/img/avatar.jpg"
                alt="Shrug"
                width="60"
                class="hide-sm"
            />
            <img
                src="assets/img/avatar.jpg"
                alt="Shrug"
                width="120"
                class="show-sm fade-out"
            />
        </a>
    </div>
</header>
