<header class="header square-bg">
  <div class="container flex">
    <div class="header-left-side">
      <a
        href="http://explosm.net/comics/3709/"
        class="profile-picture"
        title="Click Me!"
        data-log="link|explosm"
      >
        <img
          src="/assets/img/avatar.jpg"
          alt="Shrug"
          width="60"
          class="hide-sm"
        />
        <img
          src="/assets/img/avatar.jpg"
          alt="Shrug"
          width="120"
          class="show-sm fade-out"
        />
      </a>
      <h1 class="title">
        <a href="/">{{ site.title }}</a>
      </h1>
    </div>

    <section class="menu">
      <ul class="menu-list">
        <li class="menu-list-item"><a href="/blog">Blog</a></li>
      </ul>
    </section>
  </div>
</header>
