<ul class="paginator">
  {% if paginator.previous_page %}
  <li class="paginator-item paginator-item-right">
    <a href="{{ paginator.previous_page_path | prepend: site.baseurl }}">
      Newer
    </a>
  </li>
  {% endif %} {% if paginator.next_page %}
  <li class="paginator-item paginator-item-left">
    <a href="{{ paginator.next_page_path | prepend: site.baseurl }}">
      Older
    </a>
  </li>
  {% endif %}
</ul>
