$color-bg: #f9fff7;
$color-text: #00171f;
$color-primary: #245501;
$color-secondary: #2c8600;
$color-link: #73a942;

html {
  color: $color-text;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 */
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}
::selection {
  background: #b3d4fc;
  text-shadow: none;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */
audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */
textarea {
  resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */
.browserupgrade {
  margin: 0.2em 0;
  background: $color-link;
  color: $color-text;
  padding: 0.2em 0;
}

/* ==========================================================================
   Custom Style
   ========================================================================== */
html, body {
  height: 100%;
}

body {
  font-weight: 300;
  font-family: "Jost", sans-serif;
  font-size: 1.1rem;
  background-color: $color-bg;
}

.fully-centered {
  height: 100%;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.main {
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-grow: 1;
  height: auto;
}

.footer {
  flex-shrink: 1;
  .copy {
    margin-top: 1rem;
    font-size: 0.9rem;
    text-align: center;
  }

  &-column {
    flex: 1;
    display: flex;
    justify-content: center;
  }
}

a {
  color: $color-link;
  &:active,
  &:hover {
    color: $color-secondary;
  }
}

/* Social List */
.social-list {
  margin: 0;
  padding: 0;
  &-item {
    list-style: none;
    margin: 0.3rem 0 0 0;
    padding: 0.2rem 0;
    display: inline-block;
    margin-right: 0.7rem;
    text-align: center;
    &-icon {
      width: 4rem;
      font-size: 4rem;
      display: inline-block;
      border: 0.05rem solid $color-link;
      padding: 0.6rem;
      background-color: #ffffff;
      border-radius: 0.5rem;
      &:hover {
        border: 0.05rem solid $color-secondary;
      }
    }
  }
}

@media only screen and (max-width: 680px) {
  .social-list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    &-item {
      &-icon {
        width: 5rem;
        font-size: 5rem;
      }
    }
  }

  section.copy {
    font-size: .7rem !important;
  }
}