$color-bg: #ffffff;
$color-text: #00171f;
$color-primary: #245501;
$color-secondary: #2c8600;
$color-link: #73a942;

html {
  color: $color-text;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 */
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}
::selection {
  background: #b3d4fc;
  text-shadow: none;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */
audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */
textarea {
  resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */
.browserupgrade {
  margin: 0.2em 0;
  background: $color-link;
  color: $color-text;
  padding: 0.2em 0;
}

/* ==========================================================================
   Custom Style
   ========================================================================== */
body {
  font-weight: 300;
  font-family: "Jost", sans-serif;
  font-size: 1.1rem;
}

h2 {
  margin-bottom: 0rem;
  margin-top: 1.3rem;
}

.container {
  width: 760px;
  margin: auto;
}

.square-bg {
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="3" height="3"><rect width="50" height="50" style="fill:rgba(255,255,255,0);stroke-width:3;stroke:rgb(240, 255, 245)" /></svg>');
}

.header {
  border-top: 0.05rem solid #2c8600;
  border-bottom: 0.1rem solid #2c8600;
  width: 100%;
  display: flex;
  justify-content: space-between;
  justify-items: center;
  &-left-side {
    @extend .flex;
  }
}

.title {
  color: #245501;
  float: right;
  display: block;
  a {
    color: inherit;
    text-decoration: none;
  }
}

.profile-picture {
  margin-top: 1rem;
  margin-right: 1rem;
  width: 60px;
  height: 60px;
  overflow: hidden;
  border-radius: 50%;
  border: 0.05rem solid #2c8600;
  box-shadow: 0 0 3px 0px #73a942;
  background: url("https://www.gravatar.com/avatar/76c7872136509d218d15a0abbf304ac8?s=60")
    0 0;
  img {
    transition: opacity 0.5s ease-in-out;
    opacity: 1;
  }
  &:hover {
    img {
      opacity: 0;
    }
  }
}

.figure {
  box-sizing: border-box;
  margin: 3rem;
  &-caption {
    font-size: 0.8rem;
    text-align: center;
    padding-top: 0.3rem;
    font-style: italic;
  }
  .figure-image {
    width: 100%;
    box-sizing: border-box;
    margin: 0;
    padding: 0.5rem;
    border: 0.05rem solid $color-primary;
    border-radius: 0.2rem;
  }
  .cover {
    background: url("../img/avatar.jpg") no-repeat center center;
    background-size: cover;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 500px;
    z-index: 0;
    box-shadow: 0 2px 2px 0 $color-text;
  }
}

.main {
  margin-top: 2rem;
}

.inline-icon {
  line-height: 1.4;
  margin: 0.1rem 0.2rem;
  display: inline-block;
}

.footer {
  margin-top: 2rem;
  padding: 0.5rem 0 1rem;
  padding: 1rem 1rem 2rem;
  .flex {
    flex-direction: column;
  }
  .copy {
    margin-top: 1rem;
    font-size: 0.9rem;
    text-align: center;
  }

  &-column {
    flex: 1;
    display: flex;
    justify-content: center;
  }
}

.flex {
  display: flex;
  justify-content: space-between;
}

a {
  color: $color-link;
  &:active,
  &:hover {
    color: $color-secondary;
  }
}

.twitter-tweet {
  margin-left: auto;
  margin-right: auto;
}

.banner {
  margin-top: 0.1rem;
  box-shadow: 0 2px 2px 1px #000;
  position: relative;
  &-credits {
    padding: 0.2rem;
    background-color: rgba($color-bg, 0.5);
    position: absolute;
    bottom: 5px;
    right: 5px;
    font-size: 0.8rem;
    a {
      color: $color-primary;
    }
  }
  height: 500px;
  width: 100%;
  background: no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

hr {
  content: "~";
  display: block;
  width: 100%;
  text-align: center;
  font-size: 2rem;
}

/* Post list */
.post {
  &-header {
    font-size: 0.8rem;
    text-align: right;
    margin-bottom: 3rem;
  }
  &-title {
    margin: 0.3rem 0;
    a {
      color: inherit;
      text-decoration: none;
    }
    &:hover {
      color: $color-primary;
    }
  }
  &-time {
    font-size: 0.8rem;
    margin-bottom: 0.3rem;
  }
  &-list {
    margin: 0;
    padding: 0;
    &-item {
      margin: 0.7rem 0;
      padding: 0;
      list-style: none;
      &:not(:last-child) {
        &:after {
          content: "~";
          display: block;
          width: 100%;
          text-align: center;
          font-size: 2rem;
        }
      }
    }
  }
}

/* Paginator */
.paginator {
  margin: 4rem auto 1rem;
  overflow: hidden;
  width: 100%;
  padding: 0;
  &-item {
    display: inline-block;
    list-style: none;
    padding: 0;
    margin: 0;
    &-right {
      float: right;
    }
    &-left {
      float: left;
    }
  }
}

/* Social List */
.social-list {
  margin: 0;
  padding: 0;
  &-item {
    list-style: none;
    margin: 0.3rem 0 0 0;
    padding: 0.2rem 0;
    display: inline-block;
    margin-right: 0.7rem;
    &-icon {
      font-size: 1.8rem;
      display: inline-block;
      border: 0.05rem solid $color-link;
      padding: 0.6rem;
      background-color: #ffffff;
      border-radius: 0.5rem;
      &:hover {
        border: 0.05rem solid $color-secondary;
      }
    }
  }
}

.menu {
  display: flex;
  justify-content: center;
  flex-direction: column;
  &-list {
    margin: 0;
    padding: 0;
    &-item {
      margin: 0;
      padding: 0.8rem;
      list-style: none;
    }
  }
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
  display: none !important;
}

.show-sm {
  display: none;
}
.hide-sm {
  display: block;
}

/*
* Hide only visually, but have it available for screen readers:
* https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
*
* 1. For long content, line feeds are not interpreted as spaces and small width
*    causes content to wrap 1 word per line:
*    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
*/

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
* Extends the .sr-only class to allow the element
* to be focusable when navigated to via the keyboard:
* https://www.drupal.org/node/897638
*/

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
* Hide visually and from screen readers, but maintain layout
*/

.invisible {
  visibility: hidden;
}

/*
* Clearfix: contain floats
*
* For modern browsers
* 1. The space content is one way to avoid an Opera bug when the
*    `contenteditable` attribute is included anywhere else in the document.
*    Otherwise it causes space to appear at the top and bottom of elements
*    that receive the `clearfix` class.
* 2. The use of `table` rather than `block` is only necessary if using
*    `:before` to contain the top-margins of child elements.
*/

.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

.clearfix:after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (max-width: 860px) {
  .container {
    width: 100%;
    box-sizing: border-box;
  }

  .banner {
    &-credits {
      padding: 0.2rem;
      background-color: rgba($color-bg, 0.5);
      position: absolute;
      bottom: 0;
      right: 0;
      left: 0;
      text-align: center;
    }
    height: 300px;
    width: 100%;
    background: no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

  .post h1,
  .post-header {
    text-align: center;
  }

  .text-title:before {
    display: none;
  }

  .flex {
    flex-direction: column;
  }

  .title {
    order: 2;
    margin: 0.3rem auto 0;
    font-size: 2.3rem;
  }

  .profile-picture {
    display: block;
    margin: 1rem auto 0;
    background: url("https://www.gravatar.com/avatar/76c7872136509d218d15a0abbf304ac8?s=60")
      0 0;
  }

  .menu {
    margin-top: 0rem;
    margin-left: auto;
    margin-right: auto;
    font-size: 0.9rem;
    &-list-item {
      padding-top: 0;
    }
  }

  .main {
    margin-top: 0;
    padding: 1rem;
  }

  .show-sm {
    display: block;
  }
  .hide-sm {
    display: none;
  }

  .figure {
    margin: 0;
  }
  .figure-image {
    border-radius: 0;
  }

  .fade-out {
    -webkit-animation: fade-out 10s ease-in-out infinite alternate;
    animation: fade-out 10s ease-in-out infinite alternate;
  }

  @-webkit-keyframes fade-out {
    0% {
      opacity: 1;
    }
    90% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  @keyframes fade-out {
    0% {
      opacity: 1;
    }
    90% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
}

@media only screen and (max-width: 380px) {
  .title {
    font-size: 2.6rem;
  }
  .social-list-item-icon {
    font-size: 1.2rem;
    padding: 0.4rem;
  }
}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }
  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: "";
  }
  pre {
    white-space: pre-wrap !important;
  }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  /*
     * Printing Tables:
     * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
     */
  thead {
    display: table-header-group;
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
}
