<!DOCTYPE html>
<html lang="en-US" class="no-js">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta charset="utf-8" />
    <title>{{ page.title }} - {{ site.title }}</title>
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="icon" href="/favicon.ico" type="image/x-icon" />
    {% seo %}
    <link rel="manifest" href="/site.webmanifest" />
    <link rel="apple-touch-icon" href="/icon.png" />
    <link
      href="https://fonts.googleapis.com/css2?family=Jost:wght@200;300;500&display=swap"
      rel="stylesheet"
    />
    <meta name="theme-color" content="#2C8600" />
    <script
      src="https://kit.fontawesome.com/60ef6dbc28.js"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="{{
      "/assets/css/main.css" | relative_url
    }}">
  </head>
  <body class="fully-centered">
    <!--[if IE]>
      <p class="browserupgrade">
        You are using an <strong>outdated</strong> browser. Please
        <a href="https://browsehappy.com/">upgrade your browser</a> to improve
        your experience and security.
      </p>
    <![endif]-->
    <main class="main">
      {{ content }}
    </main>
    <footer class="footer">
      {% include footer.liquid %}
    </footer>
    {% include scripts.liquid %}
  </body>
</html>
